In [1]:
message : str = 'PIAIC Student Card \n father's Name'

SyntaxError: unterminated string literal (detected at line 1) (530771288.py, line 1)

In [5]:
message : str = "PIAIC Student Card \nfather's Name"
print(message)

PIAIC Student Card
father's Name

In [7]:
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [2]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name:"+ name + "n\Student "+ age
print(card)

<>:6: SyntaxWarning: invalid escape sequence '\S'
<>:6: SyntaxWarning: invalid escape sequence '\S'
/tmp/ipykernel_3188/2335316688.py:6: SyntaxWarning: invalid escape sequence '\S'
  card : str = "PIAIC Student Card\nStudent Name:"+ name + "n\Student "+ age
/tmp/ipykernel_3188/2335316688.py:6: SyntaxWarning: invalid escape sequence '\S'
  card : str = "PIAIC Student Card\nStudent Name:"+ name + "n\Student "+ age

TypeError: can only concatenate str (not "int") to str

In [5]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = "PIAIC Student Card\nStudent Name:"+ name + "\nStudent age: "+ str(age)
print(card)

PIAIC Student Card
Student Name:Saad Ahmad Khan
Student age: 30

In [6]:
print(7+ \ 
    8+ \
    2)
# back slash = line continue

17

In [9]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = "PIAIC Student Card\nStudent Name:"+ name+\
"\nStudent age: "+ str(age) + "\n"+\
"Education: "+education
print(card)

PIAIC Student Card
Student Name:Saad Ahmad Khan
Student age: 30
Education: Become Education

## Define Multiline String """ """, ''' '''

# F-string  python

# Recommended

In [11]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = f"""
PIAIC Student Cart
Student Name : {name}
Father's Name : {f_name} 
Age : {age}
Education : {education} 

"""
print(card)

PIAIC Student Cart
Student Name : Saad Ahmad Khan
Father's Name : Basheer Khan
Age : 30
Education : Become Education

In [12]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = f'''
PIAIC Student Cart
Student Name : {name}
Father's Name : {f_name} 
Age : {age}
Education : {education} 

'''
print(card)

PIAIC Student Cart
Student Name : Saad Ahmad Khan
Father's Name : Basheer Khan
Age : 30
Education : Become Education

# TypeSccipt

In [ ]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = f`
PIAIC Student Cart
Student Name : {name}
Father's Name : {f_name} 
Age : {age}
Education : {education} 

`
print(card)

In [13]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = f"""
PIAIC Student Cart
Student Name : {name}
Father's Name : {f_name} 
Age : {age}
Education : {education} 

Total : {2 + 8 + 6 + 5}
"""
print(card)

PIAIC Student Cart
Student Name : Saad Ahmad Khan
Father's Name : Basheer Khan
Age : 30
Education : Become Education

Total : 21

F-string and jinja style

In [14]:
f""" 
student name {name} 
"""

' \nstudent name Saad Ahmad Khan \n'

In [15]:
# Jinja Style
""" 
student " name {{name}}
"""

' \nstudent " name {{name}}\n'

# In C++

In [ ]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = f"""
PIAIC Student Cart
Student Name : %s
Father's Name :  %s
Age : %d
Education : %s


""" % {name, f_name,age, education}
print(card)

In [20]:
name : str = "Saad Ahmad Khan"
print(name.capitalize())
print(name.lower())
print(name.upper())

Saad ahmad khan
saad ahmad khan
SAAD AHMAD KHAN

In [21]:
a = 7 
b = 8
# {} place holder
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [ ]:
a = 7 
b = 8
# {} place holder
"pakistan value a = {} and value b = {}".format(a,b)

In [22]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = """
PIAIC Student Cart
Student Name : {}
Father's Name : {} 
Age : {}
Education : {} 

Total : {2 + 8 + 6 + 5}
""".format(f_name,name,education,age)
print(card)

KeyError: '2 + 8 + 6 + 5'

In [23]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = """
PIAIC Student Cart
Student Name : {0}
Father's Name : {1} 
Age : {2}
Education : {3} 

Total : {2 + 8 + 6 + 5}
""".format(f_name,name,education,age)
print(card)

KeyError: '2 + 8 + 6 + 5'

In [24]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = """
PIAIC Student Cart
Student Name : {a}
Father's Name : {b} 
Age : {c}
Education : {d} 

Total : {2 + 8 + 6 + 5}
""".format(f_name,name,education,age)
print(card)

KeyError: 'a'

In [25]:
name : str = "Saad Ahmad Khan"
f_name : str = "Basheer Khan"
education : str = "Become Education"
age : str = "30"

card : str = f"""
PIAIC Student Cart
Student Name : {name}
Father's Name : {f_name} 
Age : {age}
Education : {education} 

Total : {2 + 8 + 6 + 5}
"""
print(card)

PIAIC Student Cart
Student Name : Saad Ahmad Khan
Father's Name : Basheer Khan
Age : 30
Education : Become Education

Total : 21

In [27]:
student_code : str = """ 
print("Saad Ahmad Khan")
a: int = 4
b: int = 3
print(a+b)

"""
exec(student_code)

Saad Ahmad Khan
7

# Explore string methods and attributes

In [ ]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))